body{
    width: 100dvw;
    height: 100dvh;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table{
    width: 40vw;
    height: 40vw;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.white{
    background-color: rgb(255, 255, 255);
}

.black{
    background-color: #739552;
}

th, td{
    width: 12.5%;
    height: 12.5%;

    margin: 0px;
    padding: 0px;

    
    
    text-align: center;
}

img{
    width: 90%;
    height: 90%;
}

